{% extends 'base.html' %}
{% block content %}
<head>
	<link rel="stylesheet" href="static\css\style.css" type="text/css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <meta charset="UTF-8">
     <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,900;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
	<h2 color="white"> About our campaign </h2>
	In our summer vacations, we attended a workshop hosted by lung care foundation where we were given exposed to a campaign started by them - SHAN (Saaf Hawa aur Nagrik)
Here we were inspired to make something out of the box using chemistry concepts that we have studied till now.
<hr class="h1r">
    <footer class="foot">
        <div class="text-1" id="about">
            <h2>Code-Shark</h2>
            <p>We are 2 students who want people to get access to clean and safe air in their surroundings. Every year, AQI levels shoot beyond charts and although government takes
various measures but it doesn't help.
Hence it becomes a priority for us to deliver a product which can help people breathe safe and clean air.</p>
        </div>
        <div class="mem-2" style="padding-left: 20px;margin-left: 100px;padding-right: 20px;margin-top: 50px" >
            <h2 class="ht">Team</h2>
            <img src="static\images\prakhar.jpg" alt="Shahin" style="width:74px;height:78px;border-radius: 25px;transition: transform .2s">
            <a href="https://www.linkedin.com/in/prakhar-sethi-14bb611a5/" target="_blank" style="color: white"><h4 align="center" style="padding-top: 5px">Prakhar Sethi</h4></a>
        </div>
        <div class="mem-2" style="padding-left: 20px;margin-left: 100px;padding-right: 20px;margin-top: 50px">
            <h2 class="ht">___</h2>
            <img src="static\images\sanchit.jpg" alt="" style="width:74px;height:78px;border-radius: 25px;transition: transform .2s">
            <br>
            <a href="https://www.linkedin.com/in/sanchit27/" target="_blank" style="color: white"><h4 align="center" style="padding-top: 5px">Sanchit Jain</h4> </a>
        </div>
        <div class="cont-3" id="cont">
            <h3>Contact Us</h3>
            <ul>
                <li>sanchitjain200327@gmail.com</li>
                <li>prakharsethi97@gmail.com </li>
            </ul>
        </div>
    </footer>
    <hr>
    <div class="social">
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-github"></a>
        <a href="#" class="fa fa-facebook"></a>
    </div>
    <hr>
</div>
</head>
{% endblock %}